@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.segitiga {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  animation: slide 20s infinite linear;
}
.logos-slide1 {
  animation: slide1 20s infinite linear;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos:hover .logos-slide1 {
  animation-play-state: paused;
}
